@model List<Ticketora.Application.Features.CQRSDesignPattern.Categories.Results.GetCategoryQueryResult>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Kategori Adı</th>
                <th>Sil</th>
                <th>Güncellem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.CategoryId</td>
                    <td>@category.CategoryName</td>
                    <td><a href="/Category/DeleteCategory/@category.CategoryId" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Category/UpdateCategory/@category.CategoryId" class="btn btn-warning">Güncelle</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Category/CreateCategory" class="btn btn-info">Yeni Kategori Ekle</a>
</div>